<a href="https://colab.research.google.com/github/samir7837/AI-prep/blob/main/Day3_Pandas_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Load and Inspect
#Load the Titanic dataset and list:
#Number of rows and columns
#Column names
#First 5 entries

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

def shape():
  return df.shape

def column():
  return df.columns

def first_five():
  return df.head()

print("rows and columns: ", shape())
print("column names: ", column())
print("first five entries: ", first_five())

In [ ]:
#Column Selection
#Select only the columns for age, sex, and fare from the dataset.

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

def get_custom_columns():
  return df[['age', 'sex', 'fare']]

print(get_custom_columns())

In [ ]:
#3. Conditional Filtering
#Get all passengers who are:
#Older than 60
#Paid more than 50 in fare

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

def condition_filter():
  return df[(df['age']>60) & (df['fare']>50)]

print(condition_filter())

In [ ]:
#Handle Missing Values
#Check for null values, and:
#Fill missing values in age with the median
#Drop rows where embarked is missing

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

def null_replace():
  print("Missing values before cleaning:\n", df.isnull().sum())
  df['age'].fillna(df['age'].median(), inplace=True)
  print("\nFilled missing ages with median.")

def drop_rows():
  df.dropna(subset=['embarked'], inplace=True)
  print("Dropped rows where 'embarked' is missing.")

null_replace()
drop_rows()
print("\nMissing values after cleaning:\n", df.isnull().sum())

In [ ]:
#Rename and Map
#Rename the sex column to gender, and:
#Convert male → 0, female → 1 using mapping

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

def rename_to_gender():
  df.rename(columns={'sex': 'gender'}, inplace=True)
  print("renaming done successfully")

def convert_boolean():
  df['gender'] = df['gender'].map({'male': 0, 'female': 1})
  print("mapping done successfuly")

rename_to_gender()
convert_boolean()
print(df.head())

In [ ]:
#Create a New Column
#Create a column called age_group:
#If age < 18 → "child"
#Else → "adult"

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

def create_age_group():
  df['age_group'] = df['age'].apply(lambda age: "child" if age < 18 else "adult")
  print("column created successfully!")

create_age_group()
print(df.head())

In [ ]:
#Group & Aggregate
#Group the data by pclass and sex, and:
#Find the average fare
#Calculate survival rate per group

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

def average_fare():
  return df.groupby(['pclass', 'sex'])['fare'].mean()

def survival_rate():
  return df.groupby(['pclass', 'sex'])['survived'].mean()

print(average_fare())
print(survival_rate())

In [ ]:
#Sort and Set Index
#Sort passengers by fare in descending order, and:
#Set the age column as the index of the dataframe

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

def sorting_indexing():
  df.sort_values(by='fare', ascending=False, inplace=True)
  df.set_index("age", inplace=True)

sorting_indexing()
print(df.head())